/* geral*/
#bg{
    background-color: lightblue;
}

#Emailstring{
    width: 200px;
    height: 40px;
}

/*
#labelEmail{
    width: 250px;
    height: 40px;
    left: 3000px;
}
#labelPassword{
    width: 250px;
    height: 40px;    
}

#button1{
    width: 200px;
    height: 40px;

        
        
      
}
#button2{
    width: 200px;
    height: 40px;
        
      
}
#container{
    text-align: center;
}


}
#Passwordstring{
    width: 200px;
    height: 40px;

}
*/