<div class="bg">
  <div class="container text-center">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">


              <div class="container-login"></div>
              <h1> Login</h1>

              <label for="InputEmail" class="form-label mb-4" id="Emailstring">Email:</label>

              <input type="text" class="form-control" id="labelEmail" placeholder="example@example.com"
                autocomplete="off">

              <p></p>
              <label for="inputPassword" class="form-label mb-4" id="Passwordstring">Password</label>

              <input type="password" class="form-control" id="labelPassword" placeholder="********">
              <a href="#" id="forgot-pass">Esqueceu a senha?</a>

              <p></p>
              <p></p>
              <p></p>
              <button type="button" class="btn btn-primary col-2" id="button1">logar</button>
              <!-- o código a baixo representa espaços-->
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-primary col-3" id="button2"> cadastro </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>